.Button {
    width: 100%;
    font-size: 18px;
    font-weight: 600;

    color: var(--white);
    padding: 16px;

    border-radius: var(--border-radius-l);
    background: var(--black);

    transition: var(--transition);
    &:hover {
        background: lighten($color: #112335, $amount: 4);
    }

    cursor: pointer;
}