.main {
  background: #F6F7FA;
}

.vacanciesList {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
}

.AddVacancy {
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
}
.AddVacancy > p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.AddVacancyPlus {
  display: flex;
  justify-content: flex-end;
}

.Plus {
  font-size: 42px;
  font-weight: 200;
  color: #000;
  line-height: 28px;
}

.AcceptList {
  position: absolute;
  bottom: 24px;
  left: 24px;

  display: flex;
  flex-direction: column;

  gap: 24px;
  
  width: calc(453px - 32px);
  padding: 16px;

  border-radius: var(--border-radius-m);

  background-color: var(--white);
}
.AcceptList h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;

  color: #2D2F33;

}

.ProgressList {

  display: flex;
  flex-direction: column;
  gap: 12px;

  max-height: 500px;
  overflow-y: auto;
}

.mainWrapper {
  margin: 0 auto;
  padding: 24px;

  width: calc(100% - 48px);
  height: calc(100% - 48px);
}

.CalendarWrapper {
  position: absolute;
  top: 24px;
  right: 24px;
}

.CalendarSkeleton {
  width: 335px;
  height: 314px;

  background: #FFF;
  background: linear-gradient(90deg, #fff 0%, #f5f5f5 49.5%, #f3f3f3 100%);
  filter: blur(20px);

  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;

  border-radius: var(--border-radius-m);
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}


